<h2>CREAR CATEGORIA</h2>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    
    <div class="mb-3">
        <label for="" class="form-label">NOMBRE</label>
        <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder=""
        />
    </div>
    
    <button
        type="submit"
        class="btn btn-primary"
    >
        Guardar
    </button>
    
    <a
        name=""
        id=""
        class="btn btn-danger"
        routerLink="/listar-categorias"
        role="button"
        >Cancelar</a
    >
    
</form>